<!DOCTYPE html>
<html>
<head>
  <title>CommerceApp</title>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  
  
  
</head>
<body>
	<h1>Welcome to Jersey Shore Bikes</h1>
	<h2>The best place to buy used bikes in New Jersey</h2>
	
	<div class="container">
		<%= yield %>
	</div>
</body>
</html>
